body {
  width: 100vw;
  height: 100vh;
  background-color: #ecf0f3;
  font-family: "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

::-moz-selection {
  background: #ff9f0f;
  color: #fff;
}

::selection {
  background: #ff9f0f;
  color: #fff;
}

.container {
  width: 940px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 80px;
  -webkit-animation: boxShow 0.6s ease forwards;
          animation: boxShow 0.6s ease forwards;
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
}

@-webkit-keyframes boxShow {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes boxShow {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.left {
  width: 420px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.left .inputBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.left .inputBox .clean {
  position: absolute;
  right: 16px;
  top: 17px;
  display: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.left .inputBox .clean:hover {
  -webkit-filter: brightness(1.02);
          filter: brightness(1.02);
  cursor: pointer;
}

.left .logo {
  padding-bottom: 65.8px;
}

.left .logo img {
  width: 96px;
}

.left .input {
  width: 400px;
  height: 60px;
  border-radius: 100px;
  color: #2d3641;
  border-style: none;
  padding-left: 30px;
  margin-bottom: 116px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  caret-color: #2d3641;
}

.left .input:hover {
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.03);
}

.left .input:focus {
  outline: none;
  -webkit-box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.03);
}

.left .input::-webkit-input-placeholder {
  font-size: 14px;
  color: #caced7;
}

.left .input:-ms-input-placeholder {
  font-size: 14px;
  color: #caced7;
}

.left .input::-ms-input-placeholder {
  font-size: 14px;
  color: #caced7;
}

.left .input::placeholder {
  font-size: 14px;
  color: #caced7;
}

.right {
  width: 420px;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.right a {
  border-radius: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.right a:hover {
  -webkit-filter: brightness(1.08);
          filter: brightness(1.08);
  cursor: pointer;
}

.right a:active {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.right .list_1 {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 1px #dde2e7;
          box-shadow: 0 1px #dde2e7;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.right .list_1 .button_baidu {
  width: 100px;
  height: 60px;
  background-color: #306cff;
}

.right .list_1 .button_google {
  width: 100px;
  height: 60px;
  background-color: #ea4436;
}

.right .list_1 .button_bing {
  width: 100px;
  height: 60px;
  background-color: #038374;
}

.right .list_2 {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.right .list_2 .button_dribbble {
  width: 100px;
  height: 60px;
  background-color: #ea4c89;
}

.right .list_2 .button_behance {
  width: 100px;
  height: 60px;
  background-color: #0057ff;
}

.right .list_2 .button_pinterest {
  width: 100px;
  height: 60px;
  background-color: #e60124;
}

.right .list_3 {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 -1px #dde2e7;
          box-shadow: 0 -1px #dde2e7;
}

.right .list_3 .button_iconfont {
  width: 126px;
  height: 60px;
  background-color: #f17400;
}

.right .list_3 .button_unsplash {
  width: 126px;
  height: 60px;
  background-color: #2d3641;
}

.right .list_3 .button_image {
  width: 126px;
  height: 60px;
  background: linear-gradient(115.46deg, #336eff 0%, #ff4a3f 100%);
}

footer {
  position: fixed;
  bottom: 18px;
  text-align: center;
  line-height: 8px;
}

footer .tip {
  font-size: 14px;
}

footer p {
  color: #b4b4b4;
  font-size: 12px;
}

footer p a {
  font-weight: 700;
  display: inline;
  text-decoration: none;
  color: #b4b4b4;
}

.up {
  -webkit-filter: brightness(1.08);
          filter: brightness(1.08);
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 140px;
  }
  .container .right .list_2 {
    height: 110px;
  }
}

@media screen and (max-width: 500px) {
  .body {
    overflow: auto;
  }
  .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .left {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 20px;
  }
  .left input {
    margin-bottom: 0;
  }
  .inputBox {
    width: 80%;
  }
  .right {
    width: 88%;
    height: 250px;
  }
  .right .list_1,
  .right .list_2,
  .right .list_3 {
    height: 90px;
  }
  .right .list_1 a,
  .right .list_2 a,
  .right .list_3 a {
    margin: 0 5px;
  }
  .tip {
    display: none;
  }
}

.dark {
  background-color: #232931;
}

.dark .container .logo {
  -webkit-filter: invert(1) contrast(0.9) hue-rotate(192deg) saturate(1.4) brightness(1.5);
          filter: invert(1) contrast(0.9) hue-rotate(192deg) saturate(1.4) brightness(1.5);
}

.dark .container .clean {
  -webkit-filter: brightness(0.97);
          filter: brightness(0.97);
}

.dark .right .list_1 {
  -webkit-box-shadow: 0 1px #33383d;
          box-shadow: 0 1px #33383d;
}

.dark .right .list_3 {
  -webkit-box-shadow: 0 -1px #33383d;
          box-shadow: 0 -1px #33383d;
}

.dark footer p {
  color: #5b636d;
}

.dark footer p a {
  color: #737a82;
}
/*# sourceMappingURL=style.css.map */